$fs-body : 1rem;
$fs-title : 1.25rem;
$fs-subtitle : 1.125rem;
$fw-rgl: 400;
$fw-bld: 700;


$clr-cyan : #2ab2af;
$clr-yellow : #c0df34;

$clr-bcg : #e5eff5;
$clr-gray : #98a6bd;
// hsl(204, 43%, 93%);